body{
margin:0; 	
	}
#paginador{
padding:6px;	
	}
span{ margin-right:4px;
	 
	
	display: inline-block;
    zoom: 1,8;
    display: inline;
    vertical-align: baseline;
   
    text-decoration: none;
    font: 10px Arial;
    padding: .5em .9em .5em;
    
  
   
	border-radius:3px;
	color: black;
	border: solid 1px #000;
    background: #CCC;
	}
#paginador a{
	display: inline-block;
    zoom: 1,8;
    display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    font: 10px Arial;
    padding: .5em 1em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border-radius:3px;
	color: #d7d7d7;
	
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
#paginador a:hover {
   text-decoration: none;
   background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

.cabezera{
      background:black;
	  width:991px;
	  height:40px;
	  margin-top:0px;
	  margin-left:0px;
	  color:white;
	  padding:8px;
	  border-radius:1px;
	  text-align:left;
	  font-size:16px;
	  font-family:arial;
	  border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
	  
	  

.cabezera a{
 border:none;
 padding: 6px;
 text-decoration: none;
 font-family: arial black;
 color:#CCC;
    
}
.cabezera a:hover {
    color:#FFF;
	cursor: pointer;
}
.carrito{
float:right;
}
.contenedor{
     background:white;
	  /*width:608px;*/
	 width:800px;
	 height:504px;
	 margin:auto;
	 margin-top:20px;
         text-align: center;
	 /*background:red;*/

}

.caja{
     background:white;
	 float:left;
	 /*width:150px;*/
	 width:180px;
	 
	 height:250px;
	 text-align:center;
	 border:1px solid #E2E2E2;
	 border-radius:10px;
	 font-family:arial;
	 
}

.cajaSola{
     background:white;
	 float:left;
	 width:250px;
	 height:auto;
	 text-align:center;
	 border:1px solid #E2E2E2;
	 border-radius:10px;
	 font-family:arial;
}


.cajaDes{
     background:white;
	 float:left;
	 width:250px;
	 height:auto;
	 text-align:left;
	 border:0px solid #E2E2E2;
	 border-radius:10px;
	 padding:15px;
	 font-family:arial;
	 font-size:15px;
}

.vistacarrito{
    background-color: #EBEBEB;
	border: 1px solid #666;
	padding-left: 120px;
	width: 500px;
	margin: auto;
	margin-top:20px;
}

/* Botón */

.boton {
    display: inline-block;
    zoom: 1,8;
    display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    font: 10px Arial;
    padding: .5em 1em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.boton:hover { text-decoration: none; }

/* Redondez */

.redondo {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
 
/* Color */

.negro {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.negro:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

.num{
     background:white;
	 float:left;
	 /*width:150px;*/
	 width:20px;
	 
	 height:20px;
	 text-align:center;
	 border:1px solid #E2E2E2;
	/* border-radius:10px;
	 font-family:arial;*/
	
}

