#Grid {
	border-collapse:collapse;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#FFFFFF;
	/*margin-left:15%; margin-right:15%;*/
	
}
#Grid th{
	background-color:#002E5B;
	padding:4px 10px;
	text-align:center;
	color:#FFFFCC;	
}

#Grid th:hover {
    background:white;
	cursor:pointer;
	text-decoration:underline;
	color:#00c;
}
#Grid tr:hover{
	background:#FFFFCC;
}


#Grid td{
	padding:1px 4px;
}






#Ventana {
	border-collapse:collapse;
	/*font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;*/
        font-family: 'Didact Gothic', sans-serif;
	font-size:20px;
	/*margin-left:15%; margin-right:15%;*/
    
	
}
#Ventana th{
	background: rgb(169,219,128); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(150,197,111,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */

        
	padding:4px 10px;
	text-align:center;
	/*color:#FFFFCC;*/
        color: white;
        text-shadow:0 0 5px black; 
	border: 1px solid #74A8F5;
}
#Ventana td{
	/*padding:1px 4px;*/
        font-family: 'Didact Gothic', sans-serif;
	font-size:18px;
        padding: 4px 10px;
}

#Controles {
	/*border-collapse:collapse;*/
	border: 0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	
}
#Controles th{
	background-color:#FFFFCC;
	padding:4px 10px;
	text-align:left;
	color:#000000;
	
}
#Controles td{
	padding:1px 4px;
}


.Menu {
background-color: #F5C71A;
border: 1px solid #74A8F5;
color: inherit;
padding: 5px;
margin: 0px;
}

.BarraBotones {
background-color:#FFFFCC;
border: 1px solid #013567;
color: inherit;
padding: 5px;
text-align:Right;
margin: 0px;
}


.CamposTexto{
	font-size:12px;
	font-family:Verdana,Helvetica;
	color:black;
	background:#E8ECFF; 
}


.Error {
background-color: #FFD7D7;
border: 1px solid #FF0000;
text-align:left;
color: #000000;
padding:4px 10px;
margin: 0px;

}

.Atencion {
background-color: #FCFDD5;
border: 1px solid #F5C71A;
text-align:left;
color: #000000;
padding:4px 10px;
margin: 0px;
}


.Procesando {
background-color: #EBFEEC;
border: 1px solid #74A8F5;
text-align:left;
color: #000000;
padding:4px 10px;
margin: 0px;
}

.Exitoso {
background-color: #EDF3FE;
border: 1px solid #74A8F5;
text-align:left;
color: #000000;
padding:4px 10px;
margin: 0px;
}


.celda1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bolder;
	text-align: left;
	border-top: 2px solid 5E93B;
	border-right:none;
	border-left:none;
	border-bottom:2px dotted #416D89;
	border-bottom-style:double;
	border-bottom-color:#CCCCCC;		
	
	padding-top:2px;
	padding-right:0px;
	padding-left:0px;
	padding-bottom:2px;
}
.celda2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	border-top: 2px solid 5E93B;
	border-right:none;
	border-left:none;
	border-bottom:2px dotted #416D89;
	border-bottom-style:double;
	border-bottom-color:#CCCCCC;	
	
	padding-top:2px;
	padding-right:0px;
	padding-left:0px;
	padding-bottom:2px;
	
}

.tabla001 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-align: right;
width: 600px;

}

.tabla001 th {
padding: 5px;
font-size: 16px;
background-color: #83aec0;
background-image: url(fondo_th.png);
background-repeat: repeat-x;
color: #FFFFFF;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #558FA6;
border-bottom-color: #558FA6;
font-family: “Trebuchet MS”, Arial;
text-transform: uppercase;
}

.tabla .modo1 {
font-size: 12px;
font-weight:bold;
background-color: #e2ebef;
background-image: url(fondo_tr01.png);
background-repeat: repeat-x;
color: #34484E;
font-family: “Trebuchet MS”, Arial;
}
.tabla .modo1 td {
padding: 5px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
text-align:right;
}


.tablaListado { color: #000000; font-family: Arial, Verdana; background-color: #FFFFFF;}
.normalActive { background-color: #FFFFCC; }
.normal { background-color: Transparent; }


.capaazul {
background-color: #EDF3FE;
border: 1px solid #74A8F5;
color: inherit;
padding: 5px;
margin: 0px;
}

.capaverde {
background-color:#EBFEEC;
border: 1px solid #74A8F5;
color: inherit;
padding: 5px;
margin: 0px;
}